.tae-system {
    position: relative;
    border-radius: 1vw;
    background-color: #494786;
    aspect-ratio: 4/3;
    max-width: 60vw;
    margin: auto;
    box-shadow: 2px 2px 10px;
}

.tae-screen {
    position: absolute;
    box-sizing: border-box;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 45%;
    padding: 5%;
    font-size: x-large;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-radius: 1vw;
    box-shadow: inset 2px 2px 10px;
}

.tae-inputBar {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    height: 50%;
}

.tae-optionButton, .tae-modalButton {
    font-size: large;
    outline: none;
    border-radius: 10%;
    box-sizing: border-box; 
    border: 1px solid black;
    box-shadow: 0px 2px 5px;
}

.tae-optionButton:focus, .tae-optionButton:hover, .tae-modalButton:focus, .tae-modalButton:hover {
    box-shadow: 0px 0px 5px;
    transform: translateY(2px);
    filter: brightness(1.5)
}

.tae-optionButton:active, .tae-modalButton:active {
    box-shadow: inset 0px 2px 5px;
    transform: translateY(4px);
}
