.tae-input {
    display: inline-block;
    box-sizing: border-box; 
    font-size: x-large;
    height: 90%;
    width: 30%;
    padding-top: 2%;
    border-radius: 2%;
    border: solid black;
    margin: 1.5%;
    overflow-y: hidden;
    box-shadow: 5px 5px 10px;
}

.tae-optionPanel {
    margin: auto;
    margin-top: 5%;
    width: 75%;
    overflow-y: auto;
    max-height: 82%;
}

.tae-optionPanel::-webkit-scrollbar {
    width: 0px;
}

.tae-optionButton {
    display: block;
    margin: 5% 0px;
    width: 100%;
}

