.board {
    height: 500px;
    width: 500px;
    max-height: 100vw;
    max-width: 100vw;
    margin: auto;
    padding: 1%;
    background: #0069c0;
    border-radius: 5%;
}

.row {
    height: 100px;
    width: 100%;
}

.rows-5 {
    max-height: 20%;
}

.rows-7 {
    max-height: 14.28%;
}

.rows-9 {
    max-height: 11.11%;
}

.rows-11 {
    max-height: 9.09%;
}

h1.ft-header {
    color: var(--text-default);
    margin-top: 0px;
}

.rulesBox {
    color: var(--text-default);
    width: 500px;
    max-width: 100vw;
    margin: auto;
    padding: 1%;
}