:root {
  --dark: #83411D;
  --light: #FFFFFF;

  --main: #E65525;
  --alt: #231F20;
  --text-default: var(--light);
  --light-blue: #5FCCF7;
  --dark-blue: #0C1445;
  --shadow-default: var(--dark);
  --gradient: linear-gradient(var(--light-blue), var(--dark-blue));
  --header: 300px;
  --footer: 100px;
}

html {
  overflow-y: scroll;
}

.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fullLogo {
  width: 100%;
  max-width:500px;
}

.logoButton {
  position: absolute;
  left: 0px;
  background-color: transparent;
  border: none;
}

.logoButton-image {
  width: 100%;
  max-width:250px;
}

.siteHeader {
  position: relative;
  background-color: var(--light-blue);
  color: var(--text-default);
  font-size: xx-large;
  min-height: 100px;
  padding: 15px;
}

.siteBody {
  padding: 5%;
  min-height: calc(100vh - (var(--header) + var(--footer)));
  background-image: var(--gradient);
}

.menuSection {
  margin-bottom: 5%;
}

.menuSection-header {
  font-size: xx-large;
  color: var(--text-default);
  margin: 0px;
}

.menuSection-body {
  margin: 1%;
}

.menuButton {
  color: var(--text-default);
  background-color: var(--main);
  border-radius: 20px;
  border: 0px;
  box-shadow: 1px 2px var(--shadow-default);
  padding: 1% 7%;
  margin: 1%;
  font-size: x-large;
  transition: all 200ms;
}

.menuButton:hover, .menuButton:focus {
  filter: brightness(1.5);
}

.siteFooter {
  font-size: large;
  padding: 5%;
  background-color: var(--dark-blue);
  height: var(--footer);
  color: var(--text-default);
}

.siteFooter > span {
  margin-bottom: 1%;
  display: block;
}

.siteFooter > span > a:link {
  color: var(--text-default);
}

.siteFooter > span > a:visited {
  color: var(--text-default);
}

.siteFooter > span > a:hover,
.siteFooter > span > a:focus {
  color: var(--alt);
}

.siteFooter > span > a:active {
  color: var(--alt);
  filter: brightness(1.75);
}