.board {
    height: 500px;
    width: 500px;
    max-height: 100vw;
    max-width: 100vw;
    margin: auto;
}

.row {
    height: 100px;
    width: 100%;
}

.rows-3 {
    max-height: 33.33%;
}

.rows-5 {
    max-height: 20%;
}

.rows-7 {
    max-height: 14.28%;
}

.rows-9 {
    max-height: 11.11%;
}

.rulesBox {
    width: 500px;
    max-width: 100vw;
    margin: auto;
    padding: 1%;
}