.menuButton {
    color: #E7DFDD;
    background-color: #5F236B;
    border-radius: 5px;
    border: 0px;
    padding: 10px 100px;
    margin: 20px;
    font-size: 30px;
}

.menuButton:hover, .menuButton:focus {
    background-color: #BE375F;
}