.kafatzBoard {
    height: 600px;
    width: 600px;
    max-height: 100vw;
    max-width: 100vw;
    margin: auto;
}

.kafatzRow {
    height: 16.66%;
}

.kafatzSettingsPanel {
    padding: 1%;
}

.kafatzSettingInput {
    display: block;
    margin: auto;
    width: 250px;
    max-width: 90%;
}

.kafatzInputSlider {
    width: 100%;
}

.kafatzControlButton {
    padding: 1%;
    margin: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: hsl(180, 42%, 68%);
    border: none;
    outline: none;
}

.kafatzControlButton:hover, .kafatzControlButton:focus {
    background-color: aqua;
}

.kafatzRulesBox {
    width: 600px;
    max-width: 100vw;
    margin: auto;
    padding: 1%;
}