.kafatzSquare {
    display: inline-block;
    height: 100%;
    width: 16.66%
}

.kafatzButton {
    background-color: black;
    height: 100%;
    width: 100%;
    text-align: center;
}

.gamePiece {
    height: 90%;
    width: 90%;
    border-radius: 100%;
}

.playerOnePiece {
    background-color: red;
}

.playerTwoPiece {
    background-color: white;
}

.selected {
    border: 5px solid cyan;
}

.kafatzRet {
    border: 5px solid cyan;
}