.kafatzSquare {
    display: inline-block;
    height: 100%;
    width: 16.66%
}

.kafatzButton {
    background-color: black;
    height: 100%;
    width: 100%;
    text-align: center;
    border: solid 3px rgb(64, 64, 64);
    box-sizing: border-box;
}

.gamePiece {
    height: 90%;
    width: 90%;
    border-radius: 100%;
    box-sizing: border-box;
    margin: auto;
}

.playerOnePiece {
    background-color: red;
}

.playerTwoPiece {
    background-color: white;
}

.selected {
    border: 3px solid cyan;
    box-sizing: border-box;
}

.threatened {
    border: 3px solid red;
    box-sizing: border-box;
}

.kafatzRet {
    border: 3px solid green;
    box-sizing: border-box;
}