.button {
    background: cyan;
    font-size: 24px;
    font-weight: bold;
    line-height: 10px;
    height: 100%;
    width: 100px;
    border-radius: 10%;
    padding: 0;
    text-align: center;
    border: 5px solid blue;
  }

  .gamePiece {
    height: 85%;
    width: 85%;
    border-radius: 100%;
    margin: auto;
  }

  .cols-5 {
    max-width: 20%;
  }

  .cols-7 {
    max-width: 14.28%;
  }

  .cols-9 {
    max-width: 11.11%;
  }

  .cols-11 {
    max-width: 9.09%;
  }

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.fallen {
  background: blue;
}

.legal {
  border: 5px solid lightblue;

}

.ret, .button:hover {
  border: 5px solid;
}