.kafatzSquare {
    display: inline-block;
    height: 100%;
    width: 16.66%
}

.kafatzButton {
    background-color: #212121;
    height: 100%;
    width: 100%;
    text-align: center;
    border: solid 3px #484848;
    border-radius: 5%;
    box-sizing: border-box;
}

.gamePiece {
    height: 90%;
    width: 90%;
    border-radius: 100%;
    box-sizing: border-box;
    margin: auto;
}

.playerOnePiece {
    background-color: #d50000;
    border: 5px solid #9b0000;
}

.playerTwoPiece {
    background-color: #fafafa;
    border: 5px solid #c7c7c7;
}

.selected.gamePiece {
    border: 5px solid #00e5ff;
}

.selected {
    border: 3.5px solid #00e5ff;
    box-sizing: border-box;
}

.threatened {
    border: 3.5px solid #c4001d;
    box-sizing: border-box;
}

.kafatzRet {
    border: 3.5px solid #76ff03;
    box-sizing: border-box;
}